/* General */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 75%;
  font-family: "Myriad Pro", Lucida, sans-serif;
  margin: 0px 0px 0px 10px;
  background: #333;
}

h1 {
  font-size: 1.6em;
}

h2 {
  padding: 0em 0 0.6em;
  font-size: 1.4em;
}

h3 {
  padding: 0em 0em 0.6em 0em;
  font-size: 1.0em;
}

p {
  padding: 0.6em 0;
}

a {
  color: #439;
  text-decoration:none;
}

a:hover {
  color: #776559;
}

ul {
  padding: 0em 10px 0.6em;
}

li {
  margin-left: 10px;
}

pre {
  margin: 1em 0;
  padding: 0.6em 1em;
  overflow: auto;
  color: #333;
  font-family: "Courier New", monospace;
  background: #e6e6e6;
  border: 1px solid #ddd;
}

hr {
  display: none;
}

blockquote {
  margin: 0px 0px 12px 0px;
  padding: 0px 0px 0px 0px;
}

blockquote ul, blockquote li{
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

/* Table */
table {
  margin: 0px 0px 12px 0px;
}

table th
{
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #4f6b72;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 0px 3px 0px 7px;
  background: #CAE8EA url(/images/table_header.jpg) no-repeat;
}

table td
{
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #fff;
  padding: 0px 3px 0px 3px;
  color: #4f6b72;
}

/* Classes */

.filename {
  font-weight: bold;
  letter-spacing: 0.2em;
}

/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/
#sidebar {
  display:none;
}

/*****************************************************************************/
/*
/* Text container
/*
/*****************************************************************************/

#container {
  float:left;
  width: 600px;
  margin: 20px;
  padding: 40px 50px;

  color: #333;
  font-size: 1.2em;

  background-color: #EEE;
}

#container img {
  float: right;
  padding:0px 0px 20px 20px;
}

#container abbr {
  color: #666;
  float: left;
  font-size: 10px;
  font-style: italic;
}

#archive, #related, #disqus, #forkme {
  display:none;
}
